<h1>Analyzing US Economic Data and  Building a Dashboard  </h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, we will extract some essential economic indicators from some data,  will then display these economic indicators in a Dashboard.

<p>
<a href="https://en.wikipedia.org/wiki/Gross_domestic_product"> Gross domestic product (GDP)</a> is a measure of the market value of all the final goods and services produced in a period. GDP is an indicator of how well the economy is doing. A drop in GDP indicates the economy is producing less; similarly an increase in GDP suggests the economy is performing better. In this code, we will examine how changes in GDP impact the unemployment rate.

<h2 id="Section_1"> Define Function that Makes a Dashboard  </h2>

We will import the following libraries.

In [15]:
import pandas as pd
from bokeh.plotting import figure

In [2]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)

In [3]:
links={'GDP':'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/FinalModule_Coursera/data/clean_gdp.csv',\
       'unemployment':'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/FinalModule_Coursera/data/clean_unemployment.csv'}

In [4]:
# Displaying the GDP data
df = pd.read_csv(links["GDP"])

In [5]:

df.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

In [6]:

df1 = pd.read_csv(links['unemployment'])

In [7]:
# Displaying the unemployment data
df1.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

In [8]:
# Displaying the unemployment data greater than 8.5
df3 = df1[df1['unemployment']>8.5]
df3

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

In [9]:
x = df1[['date']]

In [10]:
gdp_change = df[['change-current']]
gdp_change# Creating  dataframe with column change-current

    change-current
0             -0.7
1             10.0
2             15.7
3              5.9
4              6.0
..             ...
64             3.6
65             4.4
66             4.0
67             2.7
68             4.2

[69 rows x 1 columns]

Create a new dataframe with the column <code>'unemployment' </code> called <code>unemployment</code>  from the dataframe that contains the  unemployment data.

In [11]:
unemployment = df1[['unemployment']]
unemployment# Creating dataframe with column unemployment

    unemployment
0       3.750000
1       6.050000
2       5.208333
3       3.283333
4       3.025000
..           ...
64      8.075000
65      7.358333
66      6.158333
67      5.275000
68      4.875000

[69 rows x 1 columns]

In [12]:
title = "Factors affecting GDP" # Give your dashboard a string title

In [13]:
file_name = "index.html"

In [14]:

make_dashboard(x=df1[['date']], gdp_change= df[['change-current']], unemployment= df1[['unemployment']], title= "Factors affecting GDP" , file_name= "index.html")

BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead